* {
    box-sizing: border-box;
}

html {
    /* Mặc định trình duyệt có font là 16px 
    đổi font thành 10px -> 10/16 * 100% = 62.5%
    dùng rem: 1 rem = 10px */
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 98px;
    border-radius: 8px;
    background: #0f1b4c;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.content {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.header {
    background-color: #e6f0ff;
    height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.actions {
    margin-left: auto;
}

.navbar ul a {
    color: #4f5361;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px 14px;
}

.navbar .action-link {
    color: #0f1b4c;
    font-size: 1.4rem;
    font-weight: 500;
}
